@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap');

:root {
    --trans: all 300ms ease-in-out;
    --tshadow: -2px 2px 5px #1f1f1f91;
    --titletext: 'Poppins', sans-serif;
    --paratext: 'Raleway', sans-serif;
    --box: 1px solid #000;

    --navColor: #3d4c50c4;
    --primeDark: #303435fa;
    --primaryLight: #f7ba7e;
    --secondaryLight:#f1f8ff;
    --thirdyLight: #b9c4ce;
    --btnhover: #3db8b8;
}

*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--paratext);
}

.bolder {
    font-weight: bolder;
}

button:focus {
    outline: none;
}

.scrollbar-primary::-webkit-scrollbar {
    background-color: transparent;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #3d556b77;
}

.contain {
    max-width: 1440px;
    margin: 0 auto;
    /* position: relative; */
}



/* ////////////////////////////////////// */
/* //////////// Media Queries /////////// */
/* ////////////////////////////////////// */
@media (max-width : 1024px) {
	
}

@media (max-width : 992px) {
	
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  
}

@media (max-width: 425px) {
    .only-large {
        display: none;
    }
}

@media (max-width: 380px) {

}