.container-right {
    padding: 50px 20px 20px 370px;
}

/* ////////////////////////////////////// */
/* //////////// Media Queries /////////// */
/* ////////////////////////////////////// */
@media (max-width : 992px) {
    .container-right {
        padding: 50px 10px 20px 345px;
    }
}

@media (max-width: 768px) {
    .container-right {
        padding: 20px 50px;
    }
}

@media (max-width: 576px) {
    .container-right {
        padding: 20px;
    }
}
