.home-info {
    padding: 10px 50px;
    color: var(--primeTextDark);
}

.justify-txt {
    text-align: justify;
}

.corner-box {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 20px;
    height: 20px;
    margin-left: -15px;
    margin-bottom: -20px;
}

.top-space {
    margin-top: 50px;
}

ul.sub-list {
    margin-top: 20px;
    margin-left: 20px;
}

ul.sub-list li {
    list-style-type: square;
    margin-bottom: 8px;
}

.home-bg-img {
    position: fixed;
    bottom: -80px;
    right: -60px;
    width: 550px;
    transform: scaleX(-1);
    opacity: .45;
    z-index: -1;
}

.open-close-box {
    position: absolute;
    top: 20px;
    right: 20px;
}

.open-close-btn {
    border: 1.5px solid #aaa;
    color: #aaa;
    margin: 10px;
    padding: 2px 12px 2px 7px;
    border-radius: 20px;
    font-size: 12px;
    background-color: #fff;
    outline: none;
}

.open-close-btn:hover {
    background-color: #aaa;
    color: #fff;

}

/* //////////////////// */
/* ///// Sections ///// */
/* //////////////////// */
.home-info h3 {
    text-align: center;
    margin-top: 0px;
}

.home-info hr {
    width: 400px;
    margin: 5px auto 20px auto;
    border: 0;
    height: .7px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.home-info p {
    line-height: 32px;
}



/* //////////////////// */
/* /// Sub-section //// */
/* //////////////////// */
.home-sup-section {
    position: relative;
    border: 1px solid #ffffff00;
    margin: 0 80px 20px 20px;
    padding: 20px;
}

.caret {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 20px;
    color: #aaaaaa8e;
    cursor: pointer;
}

.caret:hover {
    color: #aaa;
}

.home-sub-title {
    font-weight: bolder;
    color: #000;
    border-bottom: 2px solid #ffffff00;
    margin: 5px 15px 5px 0px;
    cursor: pointer;
}

.home-sup-section p {
    margin-bottom: -5px;
}

.home-sup-section:hover {
    border: 1px solid #aaa;
    outline: 1px solid #aaa;
    outline-offset: -5px;
}

.home-sup-section:hover .home-sub-title {
    border-bottom: 2px solid #aaa;
}

/* ////////////////////////////////////// */
/* //////////// Media Queries /////////// */
/* ////////////////////////////////////// */
@media (max-width : 1045px) {
    .home-info {
        padding: 10px 20px 10px 50px;
    }

	.home-sup-section {
        margin: 0 20px 20px 20px;
        padding: 15px;
    }

    .bgc-white {
        background-color: #fff;
    }
}

@media (max-width : 992px) {
    .home-info {
        padding: 10px;
    }

    .corner-box {
        margin-left: 0px;
    }

	.home-sup-section {
        margin: 0 0 20px 20px;
    }
}

@media (max-width: 768px) {
    .open-close-box {
        top: 5px;
        right: 5px;
    }

    .open-close-btn {
        margin: 10px 5px;
    }
}

@media (max-width: 576px) {
    .open-close-box {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .open-close-btn {
        margin: 5px;
        padding: 2px 12px 2px 7px;
    }

    .home-info hr {
        width: 200px;
    }

    .home-bg-img {
        opacity: .2;
    }
}

@media (max-width: 425px) {
    .home-info p {
        line-height: 25px;
    }

    .home-info {
        padding: 0;
    }

    .home-sup-section {
        margin: 0 0 20px 0;
    }

    .open-close-btn {
        padding: 2px 7px;
    }
}