.contact-container {
    padding: 10px 50px;
    color: var(--primeDark);
}

.contact-title {
    font-family: var(--titletext);
    padding: 5px;
    border-bottom: 1px solid var(--thirdyLight);
    margin-bottom: 20px;
}

.contact-sub-box {
    margin: 0px 15px 30px 15px;
    padding: 15px 30px;
    border: 1px solid var(--thirdyLight);
    letter-spacing: 1px;
    line-height: 35px;
}

.contact-sub-box p {
    font-size: 18px;
    line-height: 18px;
}

.contact-sub-box p a {
    color: var(--primaryLight);
    border-bottom: 1px solid var(--primaryLight);
    text-shadow: 0px 0px .5px var(--primeDark);
}

.contact-sub-box p a:hover {
    color: var(--btnhover);
    border-bottom: 1px solid var(--btnhover);
    text-shadow: none;
}

.contact-bg-img {
    position: fixed;
    bottom: -80px;
    right: 10%;
    width: 550px;
    transform: scaleX(-1);
    opacity: .45;
    z-index: -1;
}


/* //////////////////// */
/* /////// Form /////// */
/* //////////////////// */
.contact-form input,
.contact-form textarea {
    display: block;
    letter-spacing: 1px;
    width: 100%;
    margin: 5px auto -10px auto;
    padding: 0px 5px;
}

.contact-form textarea {
    min-height: 100px;
}

.err-span {
    font-size: 12px;
    color: red;
}

.err-clear {
    color: #00000000;
}

.contact-form button {
    width: 40%;
    margin-left: 60%;
    margin-top: 20px;
    padding: 3px;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 18px;
    background-color: var(--primaryLight);
    border: 1px solid var(--primaryLight);
}

.contact-form button:hover {
    background-color: var(--btnhover);
    border: 1px solid var(--btnhover);
    color: #fff;
}

.contact-form button:focus {
    outline: none;
    box-shadow: var(--primeDark);
}

.contact-form button:active {
    background-color: var(--primeDark);
    border-color: var(--primeDark);
}

/* ////////////////////////////////////// */
/* //////////// Media Queries /////////// */
/* ////////////////////////////////////// */
@media (max-width : 2200px) {
    .contact-bg-img {
        right: 0;
    }
}

@media (max-width : 2000px) {
    .contact-bg-img {
        right: -130px;
    }
}

@media (max-width : 992px) {
	.contact-container {
        padding: 10px 20px;
    }

    .contact-sub-box {
        margin: 0px 9px 30px 9px;
        padding: 15px 18px;
    }
}

@media (max-width: 576px) {
    .contact-container {
        padding: 0px;
    }
}

@media (max-width: 425px) {
    .contact-sub-box {
        margin: 0px 0px 30px 0px;
        padding: 15px 10px;
        letter-spacing: 0px;
    }

    .contact-sub-box p {
        font-size: 16px;
        line-height: 18px;
    }
}